@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --border-color-default: #4a4a4a;
    --main-color: #007700;
    --search-bg-color: #f3f3f3;
}


* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.navbar {
    top: 0;
    right: 0;
    width: 100%;    
    background-color: transparent;
    padding: 0.6%;
    z-index: 100;   
    height: 15vh;
    display: flex;
    align-items: center;
}

.navtext {
    font-size: xx-large;
    color: var(--main-color);
    margin-left: 4%;
    font-size: 2.4em;
    text-decoration: none;
}

.navtext:hover {
    text-decoration: none; 
}


.search-container {
    position: relative;     
    margin-left: 7%;
}

.search-input {
    height: 4.3vh;
    width: 40vw;
    background-color: var(--search-bg-color);
    border: none;
    padding: 0.5em;
    font-size: 1.2vw;
    transition: border-color 0.3s ease;
    border-bottom: 1px solid var(--border-color-default);
}

.search-input:focus {
    outline: none;
    border-bottom-color: green;
}

.searchsymbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 20px;
    opacity: 1;
}

.search-container.active .searchsymbol {
    animation: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: var(--border-color-default);
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2vw;
}

.navbar ul li {
    margin-left: 3.6em;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--border-color-default);
    font-family: 'Karla', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

@keyframes underlineAppear {
    0% {
        width: 0%;
        left: 0; 
    }
    100% {
        width: 100%;
        left: 0; 
    }
}

@keyframes underlineDisappear {
    0% {
        width: 100%;
        left: 0; 
    }
    100% {
        width: 0%; 
        left: 100%; 
    }
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: 0px; 
    width: 0%;
    height: 3.5px; 
    background-color: var(--main-color); 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-item:hover::after {
    animation: underlineAppear 0.3s forwards; 
}

.nav-item:not(:hover)::after {
    animation: underlineDisappear 0.3s forwards; 
}

.horizontal-line {
    width: 100%;
    height: 0.07vh;
    background-color: var(--border-color-default);
    margin-top: 0.20%;
}

.aboutusparas {
    margin-left: 12.5%;
    margin-top: 4%;
    color: var(--border-color-default);
}

.aboutusparaupper {
    width: 74vw;
    font-size: 1.8vw;
    text-align: center;
}

.aboutusparalower {
    width: 74vw;
    font-size: 1.8vw;
    text-align: center;
    margin-top: 5%;
}

.pasteventsdiv {
    margin-top: 3%;
}

.shortline {
    width: 15vw;
}

.pasteventstxt {
    color: var(--border-color-default);
    margin-left: 45%;
}

.ccubeeventposter {
    position: absolute;
    width: 35vw;
    height: 70vh;
    margin-left: 50%;
    margin-top: 3%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.pasteventcontent{
    position: absolute;
    left: 14.5%;
    bottom: -16%;
}

.pasteventnameandlogo{
    margin-bottom: 30%;
}

.pasteventname{
    font-size: 1.8vw;
}

.pasteventdateccube{
    position: absolute;
   bottom: 27%;
   left: 1.5%;
}

.ccubelogoaboutus{
    position: absolute;
    bottom: 59%;
    left: 105%;
    height: 7vh;
    width: 3.5vw;
}

.contentline1{
    position: absolute;
    width: 35.2vw;
    margin-left: 14.5%;
    bottom: -6%;
    border-top: 1px solid black; 
}

.seatsimgaboutus{
    height: 4vh;
    position: absolute;
    bottom: 34%;
    left: 40%;
}

.noofseatsaboutus{
    position: absolute;
    bottom: 38%;
    left: 52%;
}

.address{
    position: absolute;
    bottom: 28%;
    left: 100%;
    width: 80%;
}

.pin {
    width: 5vw;
    position: absolute;
    left: 48.5%;
    bottom: -46%;
    z-index:2;
}

.ccubegrpphoto {
    position: absolute;
    left: 11.5%;
    bottom: -93%;
    width: 42vw;
    height: 57vh;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.537);
    z-index: 0; 
}

.pasteventinfo{
    position: absolute; 
    bottom: -60%;
    left: 54%;
}

.pasteventinfoname{
    font-size: 1.8vw;
    margin-bottom: -13%;
    margin-left: 10%;
}

.contentline2{
    position: absolute;
    width: 35.2vw;
    bottom: -65%;    
    border-top: 1px solid black; 
}
.pasteventcontent1 {
    position: absolute;
    font-size: 1.3vw;
    margin-left: 10%;
    width: 450%;
    margin-top: 21%;

}

.pastevent2content{
    position: absolute;
    top: 210%;
    width: 100%
}

.tedxeventposter{
    position: relative;
    width: 29%;
    height: 29%;
    margin-left: 25%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.537);
    z-index: 0;
}

.pasteventnameandlogo2{
    position: absolute;
    top: 38%;
    margin-left: 55%;
}

.pasteventname2{
    font-size: 1.8vw;
}

.tedxlogo{
    position: absolute;
    top: 14%;
    left: 101%;
    width: 60%;
}

.pin2{
    position: absolute;
    top: 88%;
    left: 48%;
    width: 5%;
    z-index: 2;
}

.pasteventdatetedx{
    position: absolute;
    top: 65%;
    left: 5%;
}

.seatsimg2{
    position: absolute;
    top: 75%;
    left: 90%;
    width: 23%;
}

.noofseatsaboutus2{
    position: absolute;
    top: 80%;
    left: 115%;
}

.address2{
    position: absolute;
    top: 64%;
    left: 190%;
    width: 200%;
}

.contentline3{
    position: absolute;
    width: 35.2vw;
    margin-left: 54%;
    top: 47%;
    border-top: 1px solid black; 
}

.tedxgrpphoto{
    position: absolute;
    top: 86%;
    right: 11.4%;
    width: 40%;
    height: 70%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.537);
}
.pasteven2infoname{
    position: absolute;
    bottom: -27%;
    left: 3.5%;
    font-size: 1.8vw;
}

.contentline4{
    position: absolute;
    width: 45.2vw;
    left: 3%;
    top: 122%;
    border-top: 1px solid black; 
}

.pasteventcontent2{
    position: absolute;
    bottom: -49%;
    left: 3.5%;
    font-size: 1.4vw;
    width: 40%;
}

.footerlineaboutus {
    margin-top: 140%;
    border: none;
    border-top: 3px solid rgb(70, 70, 70);
    width: 80%; 
    margin-left: 9.5%; 
}

.footertextaboutus {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px 0;
}
