.footerline {
    margin-top: 8%;
    border: none;
    border-top: 3px solid rgb(70, 70, 70); 
}

.myComponentFooterText {
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333;
    padding: 10px 0; 
    margin-top: 10px; 
}
