:root {
    --primary-color: #393939;
    --secondary-color: #4A4A4A;
    --font-family-default: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-default);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    padding: 20px; 
    margin-left: 8%;
    margin-top: 0.5%;
}

.container {
    background-color: white;
    border: 1px solid var(--primary-color);
    box-shadow: 8px 8px var(--secondary-color);
    width: 17.5vw;
    height: 22.7vw;
    color: var(--primary-color);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
    position: relative; 
}

.container:hover {
    transform: translateY(-5px);
    background-color: #f2f2f2; 
}

.eventheadline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 700;
    color: var(--primary-color);
    height: 4vw;
    position: relative;
    border-bottom: 2px solid var(--primary-color); 
}

.eventheadline::before,
.eventheadline::after {
    content: '';
    position: absolute;
    bottom: -4px; 
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.eventheadline::before {
    top: 55px;
    left: -5px;
}

.eventheadline::after {
    top: 55px;
    right: -5px;
}

.eventdetails{
    margin-left: 6%;
    position: relative; 
}

.eventdetailsbolden p {
    font-weight: bold;
}

.eventdetails .details {
    font-weight:normal;
}

.seatsimg {
    height: 4vh;
}

.rightarrowimg {
    height: 1.8vh;  
}

.seatcontainer{
    margin-top: -3%;
}

.seats{
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
}

.pricetxt{
    color: green;
    font-weight: 700;
    font-size: 1.3vw;
    margin-left: 10.1%;
    position: absolute;
    bottom: 67px;
    right: 20px;
}

.containerbtn {
    display: flex;
    margin-top: 6%;
    width: 105%;
}

.containerbtn button {
    height: 2.9vw;
    margin-right: 2vw;
    font-size: 0.9vw;
    background-color: white;
    box-shadow: 3px 3px var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.containerbtn button:active {
    background-color: #f3f3f3;
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.1);
}

#viewposterbtn{
    width: 22vw;
}

#bookbtn{
    width: 8.9vw;
    display: flex;
    align-items: center;
    justify-self: center;
}
