@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.navbar {
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 0.6%;
    z-index: 100;
    height: 15vh;
    display: flex;
    align-items: center;
}

.navtext {
    font-size: xx-large;
    color: #007700;
    margin-left: 4%;
    font-size: 2.5vw;
}

.search-container {
    position: relative;
    margin-left: 7%;
}

.search-input {
    height: 4.3vh;
    width: 40vw;
    background-color: #f3f3f3;
    border: none;
    padding: 0.5em;
    font-size: 1.2vw;
    transition: border-color 0.3s ease;
    border-bottom: 1px solid black;
}

.search-input:focus {
    outline: none;
    border-bottom-color: green;
}

.searchsymbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    height: 20px;
    opacity: 1;
}

.search-container.active .searchsymbol {
    animation: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #4a4a4a;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2vw;
}

.navbar ul li {
    margin-left: 3.6em;
}

.navbar ul li a {
    text-decoration: none;
    color: #4a4a4a;
    font-family: 'Karla', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
}

.nav-item {
    position: relative;
}

@keyframes underlineAppear {
    0% {
        width: 0%;
        left: 0; 
    }
    100% {
        width: 100%;
        left: 0; 
    }
}

@keyframes underlineDisappear {
    0% {
        width: 100%;
        left: 0; 
    }
    100% {
        width: 0%; 
        left: 100%; 
    }
}

.nav-item::after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: 0px; 
    width: 0%;
    height: 3px; 
    background-color:green; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-item:hover::after {
    animation: underlineAppear 0.3s forwards; 
}

.nav-item:not(:hover)::after {
    animation: underlineDisappear 0.3s forwards; 
}

.horizontal-line {
    width: 100%;
    height: 0.07vh;
    background-color: #4a4a4a;
    margin-top: 0.20%;
}

.marquee-container {
    margin-top: 1%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1%;
}

.marquee {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    display: flex;
    align-items: center;
}

.marquee img {
    width: 6.5vw;
    margin-right: 10px;
}

.line {
    width: 5vw;
    height: 0.1vh;
    background-color: #4a4a4a;
    margin-right: 10px;
}

.filtercontainer {
    background-color: #f3f3f3;
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filtercontainertext {
    font-size: 1.8vw;
    margin-right: 13%;
}

.buttons {
    display: flex;
}

.buttons button {
    margin-right: 2vw;
    height: 7vh;
    width: 11vw;
    font-weight: bolder;
    font-size: 1.2vw;
    background-color: white;
    box-shadow: 3px 3px rgb(127, 109, 109);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons button:active {
    background-color: #f3f3f3;
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    outline: none;
}

.search-container.active .search-input:focus {
    border-bottom-color: green;
}

.buttons button.pressed {
    background-color: #f3f3f3;
    box-shadow: inset 8px 8px 10px rgba(0, 0, 0, 0.1);
}
  
@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}